@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Rufina:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Rufina:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #3e4346;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  padding: 14px;
}

a {
  text-decoration: none;
  color: #c6c7cb;
}
